@import '../_variables.styl'
 
/*--------------------------------------------------------------------
*
* FOOTER
*
--------------------------------------------------------------------*/
.cf:before, .cf:after
  content: " ";
  display: table;

.navbar
  background: $header

.footer-main
  padding: 40px 20px
  border-top: 1px solid #f7f7f7
  font-family: 'Gotham Rounded A','Gotham Rounded B',Helvetica,Arial,sans-serif
  font-size: 1em
  text-align: center
  color: #828c8f

  .nav-footer
    border-radius: 10px
    max-width: 500px
    margin: 0 auto

    div
      width: 33.33%
      padding: 0 5px
      float: left

  p
    margin: 10px 0

  .nav-item
    margin-bottom: 3px
    display: block

  .logo-ampersand-pink
    width: 17px
    height: 20px
    margin-top: 10px
    display: inline-block
    text-indent: -9999em
    background: url('images/logo-ampersand.png') no-repeat top center
    background-size: 17px auto
