section.page.pageTwo
  h2 Simple Page Example
  ol(data-hook="things") 
  ol 
    li Uh, something. :)
    li Another
    li One more!
    li ahhhh
    li blah
  p This page was rendered by a simple page view file at client/pages/info.js.
